body {
    font-family: Hero;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Hero';
    src: url('../fonts/HeroLight-Bold.woff2') format('woff2'),
         url('../fonts/HeroLight-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
 
 /* -----------------------------------------------------------------------------------
                                            HEADER Y WELLCOME AREA GENERAL
--------------------------------------------------------------------------------------*/
/* Estilos general para el header */
#header {
    font-family: Hero;
    max-width: 100%; /* Ancho máximo del header */
    height: 100px; /* Altura del header */
    top: 0; /* Posición en la parte superior */
    background-color: black; /* Fondo */
    color: white; /* Color del texto */
}    

/* Estilo de la caja que contiene el logo y los botones */
#header .box-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px; /* Reduce el espacio entre el logo y el menú */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    height: 100px;
}

/* Estilo de los botones */
#header a {
    padding: 0; /* Elimina el padding predeterminado */
    margin: 0; /* Elimina el margen predeterminado */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    text-transform: uppercase;    
    color: white; /* Color del texto */
    font-size: 15px; /* Tamaño de la fuente */
    font-weight: 200; /* Peso de la fuente */
}

#header ul {
    display: flex; /* Hace que los elementos del menú estén en línea */
    list-style: none; /* Elimina los puntos de la lista */
    gap: 40px; /* Aumenta el espacio entre los elementos */
}

#header li a:hover, li a:focus {  
  color: #c79c60;
  text-decoration: none;
}

#header li a.active {  
    color: #c79c60;
    text-decoration: none;
}

 /* ------------------------------------------------------------------------------------*/


/* contenedor general */
.welcome-container {
    position: relative; /* Hace que los elementos hijos con position: absolute se posicionen relativos a este contenedor */
    width: 100%;
    height: 100vh; /* La altura será igual a la altura de la pantalla */
    overflow: hidden; /* Asegura que no haya contenido que se salga del contenedor */
}

/* contenedor imagen */
.welcome-container img {
    width: 100%;
    height: 100%; /* La imagen ocupará toda la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen se recorte proporcionalmente para llenar el contenedor */
    display: block; /* Elimina el espacio extra debajo de la imagen */
}

/* capa (overlay) oscura encima de la imagen */
.welcome-container::before {
    content: ""; /* Necesario para que ::before se renderice */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* capa para oscurecer la imagen */
    z-index: 1; /* Coloca la capa (overlay) oscura encima de la imagen */
}


/* estilo Academy  */
.welcome-container .Academy-titulo {
    font-family: serif-medium;
    position: absolute; /* Asegúrate de que esté posicionado sobre la imagen */
    top: 23%; /* Reduce este valor para subir el texto */
    left: 35%; /* Centra horizontalmente */
    color: #c79c60;   
    font-size: 3.8rem; /* Ajusta el tamaño del texto */
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center; /* Centra el texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Agrega sombra para mejor visibilidad */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    z-index: 2; /* Coloca el texto encima de la capa (overlay) */
}

/* estilo lineas */
.linea {
    display: inline-block;
    width: 50px; /* Ajusta el ancho de la línea */
    height: 5px; /* Ajusta el grosor de la línea */
    background-color:white; /* Color de la línea */
    margin: 0 10px; /* Espaciado entre la línea y el texto */
    vertical-align: middle; /* Alinea la línea con el texto */
    border-radius: 50px; /* Hace que los bordes sean redondeados */
}
 /* -----------------------------------------------------------------------------------
                                            HEADER Y WELLCOME AREA GENERAL
--------------------------------------------------------------------------------------*/

 /* -----------------------------------------------------------------------------------
                                            HOME PAGE
--------------------------------------------------------------------------------------*/

/* estilo welcome to */
.welcome-container .welcome-to-titulo {
    align-items: center; /* Centra el texto */
    text-align: center; /* Centra el texto */
    position: absolute; /* Asegura que el texto esté posicionado sobre la imagen */
    top: 13%; /* Ajusta la posición vertical del texto */
    left: 39%; /* Centra horizontalmente */
    color: white; /* Asegura que el texto sea visible */
    font-weight: 200; /* Peso de la fuente */
    letter-spacing: 2px; /* Espaciado entre letras */
    font-size: 3.5rem; /* Ajusta el tamaño del texto */
    font-family: damion; /* Asegúrate de que la fuente esté cargada */
    z-index: 3; /* Coloca el texto encima del overlay */
}

/* -----------------------------------------------------------------------------------
                                            FIN HOME PAGE
--------------------------------------------------------------------------------------*/

/* -----------------------------------------------------------------------------------
                                            NOSOTROS
--------------------------------------------------------------------------------------*/
/* estilo welcome to */
.welcome-container .nosotros-titulo {
    text-align: center; /* Centra el texto */
    position: absolute; /* Asegura que el texto esté posicionado sobre la imagen */
    top: 13%; /* Ajusta la posición vertical del texto */
    left: 36%; /* Centra horizontalmente */
    color: white; /* Asegura que el texto sea visible */
    font-weight: 200; /* Peso de la fuente */
    letter-spacing: 2px; /* Espaciado entre letras */
    font-size: 3.5rem; /* Ajusta el tamaño del texto */
    font-family: damion; /* Asegúrate de que la fuente esté cargada */
    z-index: 3; /* Coloca el texto encima del overlay */
}
